<%- include('../partials/head', {title: 'Admin edit user' }) %>

    <body>
        <h3>Admin: edit user</h3>
        <%- include('../partials/navbar.ejs', {user}) %>

            <form action="/admin/users/edit/<%= userToEdit._id %>" method="post">
                <input type="hidden" name="id" value="<%= userToEdit._id %>">
                Name: <input type="text" name="name" value="<%= userToEdit.name %>">
                <br><br>
                Surname: <input type="text" name="surname" value="<%= userToEdit.surname %>">
                <br><br>
                Email: <input type="email" name="email" value="<%= userToEdit.email %>">
                <br><br>
                <!--   Password: <input type="password" name="password"> -->
                <br><br>
                <button type="submit">Save user</button>

            </form>

            <%- include('../partials/footer', {title: 'Admin edit user' }) %>


    </body>

    </html>